
.mainheader nav {
    background-color: rgb(128, 0, 0);
    height: 200px;
    line-height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mainheader nav ul li {
    list-style-type: none;
    margin: 0 auto;
    /* float: left; */
    align-items: unset;
    display: inline-block;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-size: 1.5rem; */
}
.mainheader img {
    width: 45%;
    height: 10%;
    margin: 2% 0;
}
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 4px;
  }
img{
    /* width: 262px; */
    height: 262px;

}
/* for happybday */
#hp{
    width: 250px;
    border: 10px solid rgb(129, 3, 34);
    border-radius: 230px;
      height: 250px;
    margin-left: 0px;
  }
  
/* for photo gallery */
.column {
  float: none;
  height: 254px;
  width: 254px;
  /* width: 33.33%; */
  padding: 5px;
}