.mainheader nav {
    background-color: rgb(128, 0, 0);
    height: 250px;
    line-height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainheader nav ul li {
    list-style-type: none;
    margin: 0 auto;
    /* float: left; */
    align-items: unset;
    display: inline-block;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-size: 1.5rem; */
}

.mainheader img {
    width: 45%;
    height: 10%;
    margin: 2% 0;
}

td,
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 4px;
}

img {
    /* width: 262px; */
    height: 262px;
}


/* for happybday */

#hp {
    width: 250px;
    border: 10px solid rgb(129, 3, 34);
    border-radius: 230px;
    height: 250px;
    margin-left: 0px;
}


/* for photo gallery */

.column2 {
    float: none;
    height: 100%;
    width: 100%;
    /* width: 33.33%; */
    padding: 5px;
}

iframe {
    display: block;
    margin: 0 auto;
    height: 230px;
    width: 230px;
}

.cont {
    background-color: #FEFFED;
    padding: 3px 35px;
    margin: -10px -50px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

#contact h2 {
    margin: 0 0px 15px 0px;
    color: rgb(14, 7, 7);
    font-weight: 500
}

.body {
    margin: 0 auto;
    width: 95%;
    clear: both;
}


/* for footer icons */

#footericondiv {
    margin-left: 21.7%;
}


/*for alumni sectionand for alumni*/

.column {
    background-color: rgb(20, 1, 1);
    width: 85.93%;
    padding: 3px;
    height: 180px;
    border: 2px solid white;
    box-shadow: 10px 10px 10px 5px rgba(255, 0, 0, 0.589);
    margin: 25px;
}